{% load static %}

<html lang="en" class="h-100"><head>
    <link href="{%static '/css/bootstrap.css'%}" rel="stylesheet">
    <script src="{%static '/js/bootstrap.js'%}"></script>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="{%static '/css/main.css'%}" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">

<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand name-main" href="{% url 'start' 1 %}">Homework</a>
      <div class="collapse navbar-collapse col-8" id="navbarCollapse">
        <form class="d-flex search-main">
          <button class="btn btn-success" style="margin-right: 70px">ASK!</button>
          <input class="form-control me-2 search" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
      <div class="col-4 peaple">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-10 inf-peaple">
            <a href="{% url 'logIn' %}" class="set-log-out">log in</a>
            <a href="{% url 'register' %}" class="set-log-out">register</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-9">
          {% block content %}
          {% endblock %}
      </div>
      <div class="col-3 panel">
        <div class="row popular-tags">
          <h2 class="popularMain">Popular tags</h2>
          <div>
            <span class="badge bg-primary tag">perl</span>
            <span class="badge bg-secondary tag">python</span>
            <span class="badge bg-success tag">TechnoPark</span>
            <span class="badge bg-danger tag">MySQL</span>
            <span class="badge bg-dark tag">django</span>
            <span class="badge bg-warning tag">Mail.Ru</span>
            <span class="badge bg-info tag">Voloshin</span>
            <span class="badge bg-primary tag">Firefox</span>
            <span class="badge bg-secondary tag">Android</span>
          </div>
          <br/>
          <h2 class="bestMain">Best members</h2>
          <ul>
            <li class="list-group-item group1"><a href="">Mr.Freeman</a></li>
            <li class="list-group-item group1"><a href="">Dr.House</a></li>
            <li class="list-group-item group1"><a href="">Bender</a></li>
            <li class="list-group-item group1"><a href="">Queen Victoria</a></li>
            <li class="list-group-item group1"><a href="">V.Pupkin</a></li>
          </ul>
        </div>
      </div>
  </div>
</main>

     <script src="{% static '/js/bootstrap.bundle.min.js'%}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body></html>