{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<h1 class="questionMain">New Question</h1>
  <div class="row">
    <div class="col-1">
      <h3 style="font-weight: bold; margin-top: 20px; font-size: 25px" >Title:</h3>
      <h3 style="font-weight: bold; margin-top: 25px; font-size: 25px" >Text:</h3>
      <h3 style="font-weight: bold; margin-top: 242px; font-size: 25px" >Tags</h3>
    </div>
    <div class="col-11">
      <input type="text" class="form-control" style="margin-top: 18px">
      <div class="form-group" style="margin-top: 18px">
        <textarea class="form-control" id="exampleTextarea" rows="10"></textarea>
      </div>
      <input type="text" class="form-control" style="margin-top: 18px">
      <a href="{%url 'errorAsk'%}" class="btn btn-outline-success" style="margin-left: 8px ;margin-top: 18px; font-size: 30px">ASK</a>
        {% block error %}

        {% endblock %}
    </div>
  </div>
{% endblock %}

