{% extends 'layouts/noregisterbase.html' %}

{% block content %}
<h1 class="questionMain">Log In</h1>
    {% block error %}
    {% endblock %}
  <div class="row">
    <div class="col-4">
      <h3 style="font-weight: bold; margin-top: 20px; font-size: 25px" >Login:</h3>
      <h3 style="font-weight: bold; margin-top: 20px; font-size: 25px" >Password:</h3>
   </div>
    <div class="col-8">
      <div><label>
        <textarea type="text" style="margin-top: 23px" rows="1">Pupkin</textarea>
      </label></div>
      <div><label>
        <textarea type="text" style="margin-top: 20px" rows="1">******</textarea>
      </label></div>
      <a href="{% url 'startReg' 1 %}" class="btn btn-outline-success" style="margin-top: 10px; font-size: 15px">log in</a>
      <div style="margin-top: 15px"><a href="{% url 'register' %}">create new account</a></div>
    </div>
  </div>
{% endblock %}