{% load static %}
{% block Tag1 %}
<h1 class="questionMain">Questions</h1>
{% endblock %}
    {% for question in questions %}
        <div class="row question">
    <div class="col-3">
      <img src="{% static '/img/defolt.jpg' %}" alt = "" class="question-image">
    </div>
    <div class="col-9">
        {% block reg %}
      <div class="question-title"><a href="">{{question.title}}</a></div>
        {% endblock %}
      <div class="question-text">{{question.content}}</div>
      <div class="question-ans">
          <span class="question-ans">Like:</span>
          <span class="badge bg-danger-subtle question-ans">{{ question.rating }}</span>
          <a href=""><span class="badge bg-danger question-ans">-</span></a>
          <a href=""> <span class="badge bg-success question-ans">+</span></a>
      {% block reg1 %}
          <span class="question-ans"><a href="">answer (3)</a></span>
      {% endblock %}
          <span class="question-ans">Tags:</span>
          {% for tag in question.tags %}
            <span class="question-ans"><a href="{% url reg tag 1 %}">{{ tag }}</a></span>
          {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}